    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
      /*user-select: none;*/
    }

    body {
      margin: auto;
      font-family: Arial, sans-serif;
      scroll-behavior: smooth;
      background-color: #ddffef;
    }


    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
      display: flex;
      padding: 20px 10px;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      color: #fff;
      background-color: #2d6a4f;

    }


    .headerBTN {
      padding: 6px 12px;
      background-color: #ffffff;
      color: #008d07;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
    }

    .headerBTN:hover {
      background-color: #d9f7e2;
    }

    .header-right {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .brand-title {
      margin-left: 100px;

      font-size: 26px;
      font-weight: bold;
      background: linear-gradient(45deg, #ffff00, #ff0000, #ffff00);
      background-size: 200% 200%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradientMove 4s ease-in-out infinite;
      font-family: 'Georgia', serif;
      letter-spacing: 1px;
    }

    @keyframes gradientMove {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    .timer {
      font-size: 20px;
      margin-right: 10px;
      display: none;
    }











    /* Toggle btn */
    .toggle-btn {
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }


    /* Sidebar */
    .sidebar {
      position: fixed;
      top: 0;
      left: -250px;
      width: 220px;
      height: 100%;
      background-color: #40916c;
      padding-top: 80px;
      transition: 0.3s;
      z-index: 999;
    }

    .sidebar a {
      display: block;
      padding: 12px 20px;
      color: white;
      text-decoration: none;
      font-size: 18px;
    }

    .sidebar a:hover {
      background-color: #52b788;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 998;
    }

    .main {
      max-width: 1200px;
      margin: 60px auto 0 auto;
      padding: 0 10px;
    }

    section {
      padding-top: 100px;
    }








    .center {
      text-align: center;
      font-size: 2.2em;
      color: #2e8b57;
      text-shadow: 1px 1px 3px #aaa;
    }





    #searchContainer {
      display: flex;
      justify-content: center;
      margin: 40px;
    }

    #searchInput {
      padding: 10px;
      width: 300px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

  .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .card {
      max-width: 600px;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
      transition: transform 0.2s ease;
    }

    .exam-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .exam-detail {
      font-size: 14px;
      color: #555;
    }






    .quizPage {
      margin: auto;
      max-width: 600px;
      display: none;
    }

    .question-box {
      width: 100%;
      background: white;
      padding: 20px;
      margin: 100px 0 300px;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-top: 0;
    }

    .options {
      margin-top: 20px;
    }

    .option {
      padding: 10px;
      margin: 10px 0;
      border-radius: 8px;
      cursor: pointer;
      background: #eee;
      transition: 0.3s;
    }

    .option:hover {
      background: #ddd;
    }

    .option.selected {
      background: #b3d1ff;
    }

    .option.correct {
      background: #c8f7c5;
      color: green;
    }

    .option.wrong {
      background: #f8d7da;
      color: red;
    }

    .symbol {
      float: right;
      font-weight: bold;
    }

    .cardBTN {
      width: 100%;
      padding: 5px 15px;
      margin: 5px 5px;
      
      color: #009218;
      cursor: pointer;
      font-size: 16px;
    }



    .explanation {
      margin-top: 15px;
      background: #fff3cd;
      padding: 10px;
      border-radius: 8px;
      display: none;
    }

    .result-card {
      width: 100%;
      display: none;
      background: #fff;
      padding: 20px;
      margin: 100px 0 300px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .result-card h3 {
      margin-top: 0;
    }

    .onQueCard,
    .onResultCard {
      display: none;
      position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10px;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 500px;
      width: 90%;
      z-index: 999;
    }


    .onQueCard button,
    .onResultCard button {
      padding: 10px 15px;
      border: none;
      border-radius: 8px;
      background: #009218;
      color: white;
      cursor: pointer;
      font-size: 16px;
    }

    .onQueCard button:disabled,
    .onResultCard button:disabled {
      background: #999;
      cursor: not-allowed;
    }






    @media (max-width: 600px) {
      .headerBTN {
        padding: 6px 8px;
        font-size: 14px;
      }
      .brand-title{
        margin-left: 0px;
      }
    }