    body {
      margin: 0;
      font-family: sans-serif;
    }

    .header {
      background: #0d47a1;
      color: white;
      padding: 20px;
      font-size: 24px;
    }

    .content {
      padding: 60px;
    }

    .card {
      margin: 20px 0;
      background: #f5f5f5;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Canvas */
    #overlayCanvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 9999;
      display: none;
      touch-action: none;
    }

    /* Floating Menu */
    /* Floating Menu */
    .floating-menu {
      position: fixed;
      bottom: 20px;
      right: -260px;
      transition: right 0.4s ease;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 10000;
    }

    .floating-menu.active {
      display: block;
      right: 20px;
      bottom: 20px;
    }

    .tool-btn {
      margin: 2px 0;
      padding: 2px 2px;
      background: grey;
      color: rgb(0, 0, 0);
      font-weight: bolder;
      font-size: xx-large;
      border: none;
      border-radius: 5px;
      width: 75px;
      text-align: center;
      cursor: pointer;
      display: none;
    }

    .tool-btn.selected {
      background: #00e6cf;
    }

    .tool-btn.show {
      display: block;
    }

    #deActCan {
      display: none;
    }

    #mainToggleBtn {
      background: #00e6cf;
      font-size: 20px;
    }

    input[type="color"],
    select {
      margin-left: 10px;
    }

    #penSizeSlider {
      width: 60%;
      /* यहाँ पर तुम जितना चाहो उतना बढ़ा या घटा सकते हो */
    }







    /*Start CSS Settings*/
    /* Toggle Switch */
    .toggle-switch {
      position: relative;
      width: 60px;
      height: 30px;
      background: #ccc;
      border-radius: 30px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .toggle-switch::after {
      content: '';
      position: absolute;
      width: 26px;
      height: 26px;
      background: white;
      border-radius: 50%;
      top: 2px;
      left: 2px;
      transition: left 0.3s ease;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .toggle-switch.active {
      background: #4caf50;
    }

    .toggle-switch.active::after {
      left: 32px;
    }

    /* End CSS Settings*/




    @media (max-width: 800px) {

      .floating-menu {
        bottom: 70px;
        right: 20px;
      }

      .floating-menu.active {
        display: block;
        right: 20px;
        bottom: 70px;
      }

    }